footer {
	margin-top: 20px;

	a {
		padding: 5px 10px 5px 0;
	}
}
.main-containeer {
	font-size: 16px;	
	text-align: center;
	.album-containeer {
		.round-counter {
			font-size: 24px;
			font-weight: bold;
			text-align: center;
		}
		.album-card {
			margin: 5px;
		}
	}
	.hint-label{
		display: inline-block;
		height: 100px;
		vertical-align: middle;
		font-size: 16px;
		margin-right: 10px;
		width: 50%;
	}
	
}